.korzina_title {
    width: 100%;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.delete_btn, .like_btn {
    padding: 12px 17px;
    border-radius: 6px;
    background: var(--Asosiy-Gray, #F0F0F0);
}

.basket_card {
    max-width: 900px;
    padding: 27px 20px;
    border-radius: 10px;
    background: var(--Asosiy-White, #FFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    @media (min-width: 768px) {
        height: 200px;
        padding: 27px 60px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.basket_cost {
    color: var(--Text-Black100, #240E00);
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.decrement, .increment {
    padding: 10px 12px;
    border-radius: 6px;
}

.decrement {
    border: 1px solid var(--Asosiy-Orangeret100, #D55200);
}

.increment {
    border: 1px solid #1EB91E;
}

.buy {
    color: #331400;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.prod_title, .all_cost {
    color: rgba(36, 14, 0, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.quantity, .all_quantity {
    color: #331400;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.all_quantity {
    font-size: 28px;
    line-height: 40px;
}

.legitimation {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 6px;
    background-color: #D55200;
    padding: 16px 20px;
    margin-top: 32px;
    width: 100%;

    @media (min-width: 768px) {
        padding: 16px 74px;
    }
}

.access_card {
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #FFF;
    margin-top: 24px;

    @media (min-width: 768px) {
        padding: 40px;
        width: 440px;
        height: 278px;
    }
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.basket_details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.basket_info {
    flex: 1;
}

.basket_actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}
